h1.svelte-38u9ef span.svelte-38u9ef {
	font-size: smaller;
}
h3.svelte-38u9ef.svelte-38u9ef {
	text-align: center;
}
.state-symbol.svelte-38u9ef.svelte-38u9ef {
	margin: 0 auto;
	font-size: 5rem;
}
main.svelte-h8raqb.svelte-h8raqb {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	box-sizing: border-box;
}
footer.svelte-h8raqb.svelte-h8raqb {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px;
}
footer.svelte-h8raqb section.svelte-h8raqb {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	gap: var(--spacing);
}
footer.svelte-h8raqb section button.svelte-h8raqb:first-child {
	flex: auto 0 5;
}
@media (max-width: 200px) {
	footer.svelte-h8raqb.svelte-h8raqb {
		padding: 12px 0;
	}
}
button.warning.svelte-h8raqb.svelte-h8raqb {
	color: var(--form-element-invalid-border-color);
	border-color: var(--form-element-invalid-border-color);
}
button.warning.svelte-h8raqb.svelte-h8raqb:hover {
	color: var(--form-element-invalid-active-border-color);
	border-color: var(--form-element-invalid-active-border-color);
}
button.warning.svelte-h8raqb.svelte-h8raqb:focus {
	box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
		0 0 0 var(--outline-width) var(--form-element-invalid-focus-color);
}
div.svelte-u4fm4p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}
